{% extends 'base.html' %}

{% block title %}Sign up{% endblock %}

{% block footer %}
    <script src="/js/hideShowPassword.min.js"></script>
    <script  language="JavaScript" type="text/javascript">
      
		$(document).ready(function() {
			var selectedOption = $("#selectDate").children("option:selected").val();
			if(selectedOption == 5)
			{
			$('#customDate').on('shown.bs.modal', function (e) {
			  console.log('Modal is successfully shown!');
			});
				$modal = $('#customDate');
				$modal.modal('show');
				
			}
			if(selectedOption == "fail")
			{
				$modal = $('#customDate');
				$modal.modal('show');
			}
			
			var d = new Date();
			var day = d.getDate();
			var month = d.getMonth() +1;
			var year = d.getFullYear();

			if(day <=9) day='0'+day;
			if(month <=9) month = '0' + month;

			$('#date').val(year+"-"+month+"-"+day);
			$('#date2').val(year+"-"+month+"-"+day);
			
		});
		
		$(document).ready(function() {
			$("#submitModal").click(function() {
				$("#formModal").submit();
			});
		});
		
		$('#year').text(new Date().getFullYear());
		
		
		
    </script>
	
{% endblock %}

{% block body %}   
	
	<div class="col-lg-3 offset-lg-7 col-md-4 offset-md-6 col-8 offset-2">
		<div class="input-group form-group">
			<div>
				<span class="input-group-text"><strong><i class="far fa-calendar-alt"></i></strong></span>
			</div>
			<form name="formBalance" id="formBalance" action="/showBalance/decideAction" method="post">
				<select class="form-control" name="periodOfTime" id="selectDate" onchange="this.form.submit()">  
				<!--<select class="form-control" name="periodOfTime" id="selectDate">-->
					<option value="2" {% if option == 2 %} selected {% endif %}>Bieżacy miesiac</option>
					<option value="3" {% if option == 3 %} selected {% endif %}>Poprzedni miesiąc</option>
					<option value="4" {% if option == 4 %} selected {% endif %}>Bieżacy rok</option>
					<option value="5" {% if option == 5 %} selected {% endif %}>Niestandardowy</option>
				</select>
			</form>
		</div>
	</div>
	
	<!--MODAL -->
	<div class="modal" id="customDate">
	  <div class="modal-dialog">
		<div class="modal-content">
		
		  <div class="modal-header">
			<h5 class="modal-title">Wybierz zakres czasu</h5>
			
			<button class="close" data-dismiss="modal">&times;</button>
		  </div>
		  
		  <div class="modal-body">
			<form action="/showBalance/showBalanceForPeriodOfTimeAction" id="formModal" method="post">
			
				{% if balance.errors is not empty %}
					<p>Errors:</p>
					<ul>
						{% for error in balance.errors %}
							<li>{{ error }}</li>
						{% endfor %}
					</ul>
				{% endif %}
			
			  <div class="form-group">
				<label for="date">Od</label>
				<input class="form-control" type="date" min="2000-01-01" name="date1" id="date" required>
			  </div>

			  <div class="form-group">
				<label for="date">Do</label>
				<input class="form-control" type="date" min="2000-01-01" name="date2" id="date2" required>
			  </div>
			  
			</form>
		  </div>
		  
		  <div class="modal-footer">
			<button type="submit" class="btn btn-primary" data-dismiss="modal" form="form" id="submitModal">Akceptuj</button>
		  </div>
		  
		</div>
	  </div>
	</div>
		
				
		<div  class="col">
			<header class="text-center">
				<h1 class="display-4"><strong>BILANS</strong></h1>
			</header>
		</div>
		
		<div class="row">
		<!-- Przychody i wydatki dla poszzegolnych kategorii -->
		
			<div id="incomes" class="col-lg-6">
				<h2 class="text-center py-2">Przychody w kategoriach <i class="fas fa-plus"></i></h2>
				<table class="table table-success table-bordered">
					<thead>
						<tr>
							<th>#</th>
							<th>Kwota</th>
							<th>Kategoria</th>
						</tr>
					</thead>
					<tbody>
						{% set number = 1 %}
						{% for incomeCategory in incomesCategory %}
							<tr>
								<th scope="."row".">{{number}}</th>
								<td>{{incomeCategory.sum}}</td>
								<td>{{incomeCategory.category}}</td>
							</tr>
							{% set number = number +1 %}
						{% endfor %}
					</tbody>
				</table>
			</div>
			
			<div id="expenses" class="col-lg-6">
				<h2 class="text-center py-2">Wydatki w kategoriach <i class="fas fa-minus"></i></h2>
				<table class="table table-warning table-bordered">
					<thead>
						<tr>
							<th>#</th>
							<th>Kwota</th>
							<th>Kategoria</th>
						</tr>
					</thead>
					<tbody>
						{% set number = 1 %}
						{% for expenseCategory in expensesCategory %}
							<tr>
								<th scope="."row".">{{number}}</th>
								<td>{{expenseCategory.sum}}</td>
								<td>{{expenseCategory.category}}</td>
							</tr>
							{% set number = number +1 %}
						{% endfor %}
					</tbody>
				</table>
			</div>

			<!-- Przychody i wydatki all info -->
			<div id="incomes" class="col-lg-6">
				<h2 class="text-center py-2">Przychody <i class="fas fa-plus"></i></h2>
				<table class="table table-success table-bordered">
					<thead>
						<tr>
							<th>#</th>
							<th>Data</th>
							<th>Kwota</th>
							<th>Kategoria</th>
						</tr>
					</thead>
					<tbody>
						{% set number = 1 %}
						{% for income in incomes %}
							<tr>
								<th scope="."row".">{{number}}</th>
								<td>{{income.date}}</td>
								<td>{{income.amount}}</td>
								<td>{{income.category}}</td>
							</tr>
						{% set number = number +1 %}
						{% endfor %}
					</tbody>
				</table>
			</div>

			<div id="expenses" class="col-lg-6">
				<h2 class="text-center py-2">Wydatki <i class="fas fa-minus"></i></h2>
				<table class="table table-warning table-bordered">
					<thead>
						<tr>
							<th>#</th>
							<th>Data</th>
							<th>Kwota</th>
							<th>Kategoria</th>
						</tr>
					</thead>
					<tbody>
						{% set number = 1 %}
						{% for expense in expenses %}
							<tr>
								<th scope="."row".">{{number}}</th>
								<td>{{expense.date}}</td>
								<td>{{expense.amount}}</td>
								<td>{{expense.category}}</td>
							</tr>
						{% set number = number +1 %}
						{% endfor %}
					</tbody>
				</table>
			</div>
				
			<div  class="col-lg-6">
				<h3 class="text-center py-2" >Suma przychodów: {% for saldoIncome in saldoIncomes %} {{saldoIncome.sum}} {% endfor %}
					 
				</h3>
			</div>
			
			<div  class="col-lg-6">
				<h3 class="text-center py-2" >Suma wydatków: {% for saldoExpense in saldoExpenses %} {{saldoExpense.sum}} {% endfor %}
					 
				</h3>
			</div>
		</div>
		
		
	
{% endblock %}
