<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	
    <title>{% block title %}{% endblock %}</title>
	<script src="https://kit.fontawesome.com/40a173cedf.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css" />
	
	<meta name="author" content="Paweł Paczwa"/>
	<meta name="description" content="Manage yours finances by looking at yours incomes and expenses" />
	<meta name="keywords" content="finances, incomes, expenses, saldo, money" />

</head>
<body>

	<div class="logo py-2  text-center ">
		<h1><i class="fas fa-balance-scale"></i> Finanse</h1>
		<small>Zadbaj o balans swoich przychodów i wydatków</small>
	</div>
	
	<nav class="navbar navbar-expand-md  navbar-light py-2 mb-4" >
		<div class="container" >
		
			<button class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#navbarCollapse">
				<span class="navbar-toggler-icon "></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarCollapse">
				
				<ul class="navbar-nav mx-auto ">
					{% if current_user %}
						<li class="nav-item">
							<a href="/home/index" class="nav-link">Strona Główna</a>
						</li>
						<li class="nav-item">
							<a href="/addIncome/new" class="nav-link">Dodaj Przychód</a>
						</li>
						<li class="nav-item">
							<a href="/addExpense/new" class="nav-link">Dodaj Wydatek</a>
						</li>
						<li class="nav-item">
							<a href="/showBalance/new" class="nav-link">Bilans</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link">Ustawienia</a>
						</li>
						<li class="nav-item">
							<a href="/logout" class="nav-link">Wyloguj</a>
						</li>	
					{% else %}
					<li class="nav-item">
						<a href="/signup/new" class="nav-link">Zarejestruj się</a>
					</li>
					<li class="nav-item">
						<a  href="/login" class="nav-link">Zaloguj się</a>
					</li>
				
					{% endif %}
				</ul>
				
			</div>
			
		</div>
	</nav>
	
    {% for message in flash_messages %}
        <!-- <div class="alert"> -->
        <div class="alert alert-{{ message.type }}">
            {{ message.body }}
        </div>
    {% endfor %}

	<div class="container">
		<div class="row">

    {% block body %}
    {% endblock %}

		</div>
	</div>

	
	
    
	<script
	src="http://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
	{% block footer %}
    {% endblock %}
	
	<script>
		// Get the current year for the copyright
		$('#year').text(new Date().getFullYear());
		
		$(document).ready( function() 
		{
			var d = new Date();
			var day = d.getDate();
			var month = d.getMonth() +1;
			var year = d.getFullYear();

			if(day <=9) day='0'+day;
			if(month <=9) month = '0' + month;

			//alert(day +"-"+month+"-"+year);
			$('#inputDate').val(year+"-"+month+"-"+day);
			
		})
	</script>
	
</body>
</html>
